<div class="instagram-feed" id="section-{{ section.id }}" data-section-type="instafeed-section" data-section-id="{{ section.id }}">
  <div class="single-footer-widget">

    {% if block.settings.section_title != '' %}
    <h4 class="footer-widget-title"><a href="#">{{ block.settings.section_title }}</a></h4>
    {% endif %}

    <div class="instagram-image-slider-wrapper">
      <div class="multiple-items" id="instafeed">
        <!--=======  single instagram image  =======-->


        <!--=======  End of single instagram image  =======-->
      </div>
    </div>  
  </div>
</div>


<script>
  (function ($) {
    "use strict";

    jQuery(document).ready(function(){

      var userFeed = new Instafeed({
        get: 'user',
        userId: '{{ block.settings.instafeed_user_id }}',
        limit: '{{ block.settings.instafeed_limit }}',
        accessToken: '{{ block.settings.instafeed_access_token }}',
        resolution: '{{ block.settings.image_resolution }}',
        template: '<div class="single-instagram-image"><a class="img-fluid" href="\{\{link\}\}"><img src="\{\{image\}\}"></a></div>'
        
        
      });
      userFeed.run();
    });

  })(jQuery); 
</script>



<script src="{{ 'instafeed.min.js' | asset_url }}"></script>