{% if paginate.pages > 1 %}
<div class="theme-default-pagination pagination-section mb-md-30 mb-sm-30">
  <nav>
    <ul class="pagination">
      {% if paginate.previous %}
      <li>
        <a href="{{ paginate.previous.url }}" aria-label="Previous">
          <span aria-hidden="true">Prev</span>
        </a>
      </li>
      {% else %}
      <li class="disabled prev">
        <a href="#">
          <span>Prev</span>
        </a>
      </li>
      {% endif %}
      {% for part in paginate.parts %}
      {% if part.is_link %}
      <li>
        <a href="{{ part.url }}" title="">{{ part.title }}</a>
      </li>
      {% else %}
      {% if part.title == paginate.current_page %}
      <li class="active"><a href="">{{ part.title }}</a></li>
      {% else %}
      <li><a href="#">{{ part.title }}</a></li>
      {% endif %}
      {% endif %}
      {% endfor %}
      {% if paginate.next %}
      <li class="next"><a href="{{ paginate.next.url }}" title="{{ paginate.next.title }}"><span aria-hidden="true">Next</span></a></li>
      {% else %}
      <li class="disabled next">
        <a href="#">
          <span>Next</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  
  {%- if section.settings.showing_product_counter_enable -%}
  {%- assign paginate_checker = paginate.current_page | times: products_limit -%}
  {%- if paginate.items > paginate_checker -%}
  {%- assign paginate_final = paginate_checker -%}
  {%- else -%}
  {%- assign paginate_final = paginate.items -%}
  {%- endif -%}

  {% assign showing_title = section.settings.showing_title_handle | split: "|" %}
  <div class="pagination-text">
    {{ showing_title | slice: 0 }} 
    {{ paginate.current_offset | plus: 1 }} - {{ paginate_final }} 
    {{ showing_title | slice: 1 }} 
    {{ paginate.items }} 
    {{ showing_title | slice: 2 }} 
  </div>
  {%- endif -%}


</div>
{% endif %}

<script>
  $(".theme-default-pagination .disabled a").removeAttr("href");
  $(".theme-default-pagination li.active a").removeAttr("href");
</script>
