{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
{%- assign on_sale = true -%}
{%- endif -%}

{%- assign sold_out = true -%}
{%- if product.available -%}
{%- assign sold_out = false -%}
{%- endif -%}

{%- assign variant = product.selected_or_first_available_variant -%}

{%- if product.available -%}
{%- assign func = "Shopify.addItem(" | append: variant.id | append: ", 1)" -%}
{%- endif -%} 

<!--======= Start  =======-->
<div class="single-slider-product single-slider-product--list-view list-view-product {{ variant.id }}">
  <div class="single-slider-product__image single-slider-product--list-view__image">

    <a href="{{ product.url | within: collection }}">
      <img class="img-fluid popup_cart_image" alt="" src="{{ product.featured_image.src | img_url: '600x600',crop:'center' }}">
    </a>
    
    {%- include 'product-badge' -%}
    
    {% if product.description contains '[countdown]' %}
    <div class="count_down_wrapper">
      {% assign count_down_first = product.description | split:'[/countdown]' | first %}
      {% assign count_down_final = count_down_first | split:'[countdown]' | last %}
      <div data-countdown="{{ count_down_final }}"></div> 
    </div>    
    {% endif %}
    
  </div>

  <div class="single-slider-product__content  single-slider-product--list-view__content">
    <div class="single-slider-product--list-view__content__details">
      
      <p class="product-title popup_cart_title"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></p>
      
      {%- if settings.product_review_enable -%}
      <div class="product_ratting rating">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </div>
      {%- endif -%} 

      <div class="short-desc">
        {%- if product.description contains '[short_description]' -%} 
        {%- assign short_description_first = product.description | split:'[/short_description]' | first -%}
        {%- assign short_description_final = short_description_first | split:'[short_description]' | last -%}
        {{ short_description_final }}
        {%- else -%}
        {{ product.description | strip_html | truncatewords: 30 | split: '[short_description]' | first | split: '[product_description]' | first | split: '[new_products]' | first | split: '[product_video]' | first | split: '[affiliate_link]' | first }}
        {%- endif -%}
      </div>
      
      
      
    </div>

    <div class="single-slider-product--list-view__content__actions">
      
      <div class="availability mb-10">        
        <span class="availability-title">Availabe:</span>
        {% if sold_out %}
        <span class="availability-value">Out of stock</span> 
        {% else %} 
        <span class="availability-value">In stock</span>
        {% endif %}        
      </div>

      
      <p class="product-price">
        <span class="discounted-price">{{ product.variants.first.price | money }}</span>         
        {% if product.variants.first.compare_at_price > product.variants.first.price %}
        <span class="main-price discounted">{{ product.variants.first.compare_at_price | money }}</span>
        {% endif %}        
      </p>
      
      
      {%- if product.description contains '[affiliate_link]' -%}
      <a href="{{ product.url | within: collection }}" class="theme-button list-cart-button mb-10">Buy Now</a>
      
      {%- else -%}
        {% if product.available %}
        {% if settings.product_cart_type == 'ajax_spin_cart' %}
        <a  href="javascript:void(0);" onclick="{{ func }}; return false;" class="ajax-spin-cart theme-button list-cart-button mb-10">
          <span>
            <span class="cart-title">{{ settings.cart_button_title }}</span>
            <span class="cart-loading">{{ settings.wait_title }}</span>
            <span class="cart-added">{{ settings.added_title }}</span>
            <span class="cart-unavailable">{{ settings.unavailable_title }}</span>
          </span>
        </a>
        {% elsif settings.product_cart_type == 'ajax_popup_cart' %}
        <a href="javascript:void(0);" onclick="{{ func }}; return false;" class="theme-button list-cart-button mb-10">
          <span>
            <span class="cart-title">{{ settings.cart_button_title }}</span>
          </span>
        </a>
        {% elsif settings.product_cart_type == 'without_ajax_cart' %}
        <form action="/cart/add" method="post" enctype="multipart/form-data">
          <select name="id" style="display:none;">
            {% for variant in product.variants %}
            <option value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}</option>
            {% endfor %}
          </select>
          <button type="submit" class="theme-button list-cart-button mb-10">
            <span>
              <span class="cart-title">{{ settings.cart_button_title }}</span>
            </span>
          </button>
        </form>
        {% endif %}
        {% else %}
        <button class="cart-disable theme-button list-cart-button mb-10">
          <span class="cart-text">{{ settings.soldout_button_title }}</span>
        </button>
        {% endif %}
      {%- endif -%}

      
      
      <div class="hover-icons">
        <ul>
          {%- unless product.description contains '[affiliate_link]' -%}
          {%- if settings.product_quickview_enalbe -%}
          <li><a data-toggle = "modal" data-target="#quickViewModal" href="javascript:void(0);" onclick="quiqview('{{ product.handle | handleize }}')"><i class="icon-eye"></i></a></li>
          {%- endif -%}
          {%- endunless -%}

          <li>{%- include 'wishlist-button-2' -%}</li>

          {%- if settings.compare_product_enalbe -%}
          <li><a href="#" class="compare" data-pid="{{ product.handle  }}" title="" data-original-title="Compare"><i class="icon-sliders"></i></a></li>
          {%- endif -%}

        </ul>
      </div>
      
      
    </div>

  </div>

</div>
<!--=======  End  =======-->