{% if section.settings.about_feature_area %}

<div class="about_feature_area" id="section-{{ section.id }}"> 
  <div class="row">

    <!-- About Section Title -->
    <div class="about-section-title col-12 mb-50">
      {% if section.settings.feature_title != '' %}
      <h3>{{ section.settings.feature_title }}</h3>
      {% endif %}
      {% if section.settings.feature_des != '' %}
      <p>{{ section.settings.feature_des }}</p>
      {% endif %}
    </div>

    <!-- About Feature -->
    <div class="about-feature {% if section.settings.fet_banner_img_enable %} col-md-{{ section.settings.feature_coloum }} {% else %} col-md-12 {% endif %} col-12 mb-sm-30">
      <div class="row">
        
        {% for block in section.blocks %}
        <div class="col-md-{{ block.settings.service_coloum }} col-12 mb-30">
          
          {% if block.settings.service_title != '' %}
          <h4>{{ block.settings.service_title }}</h4>
          {% endif %}
          {% if block.settings.service_description != '' %}
          <p>{{ block.settings.service_description }}</p>
          {%  endif %}          
          
        </div>
        {% endfor %}
        
      </div>
    </div>
    
    {% if section.settings.fet_banner_img_enable %}
    <!-- About Feature Banner -->
    <div class="about-feature-banner col-md-{{ section.settings.banner_coloum }} col-12">
      <div class="single-banner">
        <a href="{{ section.settings.slider_button }}">
          <img src="{% if section.settings.about_banner_img %}{{ section.settings.about_banner_img | img_url: 'master' }}
                    {% else %}https://via.placeholder.com/432x694
                    {% endif %}" alt="">
        </a>
                
      </div>
    </div>
    {% endif %}
    
  </div>
</div>

{% endif %}


{%- style -%}
  #section-{{ section.id }}{
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'section_margin' -%}
    margin-top: {{ block.settings.section_margin_top }}px;
    margin-bottom: {{ block.settings.section_margin_bottom }}px;
    {%- when 'section_padding' -%}
    padding-top: {{ block.settings.section_padding_top }}px;
    padding-bottom: {{ block.settings.section_padding_bottom }}px;
    {%- when 'section_background' -%}    
    background: {{ block.settings.section_bg_color }} 
      {%- if block.settings.section_bg_image -%}url("{{ block.settings.section_bg_image | img_url: 'master' }}"){%- endif -%} no-repeat scroll center center / cover;
    {%- endcase -%}
    {%- endfor -%}
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {% case block.type %}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_md }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_md }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_md }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_md }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
  @media (max-width: 767px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_xs }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_xs }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_xs }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_xs }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
{%- endstyle -%}



{% schema %}
  {
    "name": "About Feature Area",
    "settings": [
        {
          "type": "checkbox",
          "id": "about_feature_area",
          "label": "Enable About Feature Area",
          "default": true
        },
        {
          "type": "text",
          "id": "feature_coloum",
          "label": "Freature Coloum Control",
          "default": "7",
          "info": "Follow Bootstrap Column"
        },
        {
          "type": "text",
          "id": "feature_title",
          "label": "Feature Title",
          "default": "YOU CAN CHOOSE US BECAUSE <br>WE ALWAYS PROVIDE IMPORTANCE..."
        },
        {
          "type": "text",
          "id": "feature_des",
          "label": "Feature Description",
          "default": "ALULA provide how all this mistaken idea of denouncing pleasure and sing pain was born will give you a complete account of the system, and expound the actual"
        },
        {
          "type": "header",
          "content": "Banner Area"
        },
        {
          "type": "checkbox",
          "id": "fet_banner_img_enable",
          "label": "Feature Banner Image Enable",
          "default": true
        },
        {
        "type": "image_picker",
        "id": "about_banner_img",
        "label": "Image",
        "info": "Recommended Size: 432 x 694px"
        },
        {
          "type": "text",
          "id": "banner_coloum",
          "label": "banner Coloum Control",
          "default": "5",
          "info": "Follow Bootstrap Column"
        },
        {
          "type": "url",
          "id": "slider_button_url",
          "label": "Button URL"
        }

	],	

	"blocks":[
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 35
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 70
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 35
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 70
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 20
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 40
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       },

      {
         "type": "single_about_feature",
         "name": "Single About Feature",
         "settings": [
			{
              "type": "text",
              "id": "service_coloum",
              "label": "Service Coloum Control",
              "default": "6",
              "info": "Follow Bootstrap Column"
            },

            {
                "type": "text",
                "id": "service_title",
                "label": "Service Title",
				"default": "OUR VISSION"

            },
            {
                "type": "textarea",
                "id": "service_description",
                "label": "Service Description",
				"default": "ALULA provide how all this mistaken dea of denouncing pleasure and sing"
            }
        ]
       }

    ],
	"presets":[
		{
			"name": "About Feature Area",
			"category": "4. about",
			"blocks":[
				{
					"type": "single_about_feature"
				},
				{
					"type": "single_about_feature"
				},
				{
					"type": "single_about_feature"
				},
				{
					"type": "single_about_feature"
				},
				{
					"type": "single_about_feature"
				},
				{
					"type": "single_about_feature"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


