<div class="google-map-container mb-45" id="section-{{ section.id }}">
	<div id="google-map"></div>
</div>


{%- style -%}
  #section-{{ section.id }}{
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'section_margin' -%}
    margin-top: {{ block.settings.section_margin_top }}px;
    margin-bottom: {{ block.settings.section_margin_bottom }}px;
    {%- when 'section_padding' -%}
    padding-top: {{ block.settings.section_padding_top }}px;
    padding-bottom: {{ block.settings.section_padding_bottom }}px;
    {%- when 'section_background' -%}    
    background: {{ block.settings.section_bg_color }} 
      {%- if block.settings.section_bg_image -%}url("{{ block.settings.section_bg_image | img_url: 'master' }}"){%- endif -%} no-repeat scroll center center / cover;
    {%- endcase -%}
    {%- endfor -%}
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {% case block.type %}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_md }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_md }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_md }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_md }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
  @media (max-width: 767px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_xs }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_xs }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_xs }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_xs }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
{%- endstyle -%}


<!-- Google Map -->
<script src="https://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.22&key={{section.settings.map_api_key}}"></script>

<script>
  // When the window has finished loading create our google map below
  google.maps.event.addDomListener(window, 'load', init);

  function init() {
    // Basic options for a simple Google Map
    // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
    var mapOptions = {
      // How zoomed in you want the map to start at (always required)
      zoom: 12,

      scrollwheel: false,

      // The latitude and longitude to center the map (always required)
      center: new google.maps.LatLng({{ section.settings.latitude }}, {{ section.settings.longitude }}), // New York

      // How you would like to style the map. 
      // This is where you would paste any style found on

      styles: [{
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [{
          "color": "#e9e9e9"
        },
                    {
                      "lightness": 17
                    }
                   ]
      },
               {
                 "featureType": "landscape",
                 "elementType": "geometry",
                 "stylers": [{
                   "color": "#f5f5f5"
                 },
                             {
                               "lightness": 20
                             }
                            ]
               },
               {
                 "featureType": "road.highway",
                 "elementType": "geometry.fill",
                 "stylers": [{
                   "color": "#ffffff"
                 },
                             {
                               "lightness": 17
                             }
                            ]
               },
               {
                 "featureType": "road.highway",
                 "elementType": "geometry.stroke",
                 "stylers": [{
                   "color": "#ffffff"
                 },
                             {
                               "lightness": 29
                             },
                             {
                               "weight": 0.2
                             }
                            ]
               },
               {
                 "featureType": "road.arterial",
                 "elementType": "geometry",
                 "stylers": [{
                   "color": "#ffffff"
                 },
                             {
                               "lightness": 18
                             }
                            ]
               },
               {
                 "featureType": "road.local",
                 "elementType": "geometry",
                 "stylers": [{
                   "color": "#ffffff"
                 },
                             {
                               "lightness": 16
                             }
                            ]
               },
               {
                 "featureType": "poi",
                 "elementType": "geometry",
                 "stylers": [{
                   "color": "#f5f5f5"
                 },
                             {
                               "lightness": 21
                             }
                            ]
               },
               {
                 "featureType": "poi.park",
                 "elementType": "geometry",
                 "stylers": [{
                   "color": "#dedede"
                 },
                             {
                               "lightness": 21
                             }
                            ]
               },
               {
                 "elementType": "labels.text.stroke",
                 "stylers": [{
                   "visibility": "on"
                 },
                             {
                               "color": "#ffffff"
                             },
                             {
                               "lightness": 16
                             }
                            ]
               },
               {
                 "elementType": "labels.text.fill",
                 "stylers": [{
                   "saturation": 36
                 },
                             {
                               "color": "#333333"
                             },
                             {
                               "lightness": 40
                             }
                            ]
               },
               {
                 "elementType": "labels.icon",
                 "stylers": [{
                   "visibility": "off"
                 }]
               },
               {
                 "featureType": "transit",
                 "elementType": "geometry",
                 "stylers": [{
                   "color": "#f2f2f2"
                 },
                             {
                               "lightness": 19
                             }
                            ]
               },
               {
                 "featureType": "administrative",
                 "elementType": "geometry.fill",
                 "stylers": [{
                   "color": "#fefefe"
                 },
                             {
                               "lightness": 20
                             }
                            ]
               },
               {
                 "featureType": "administrative",
                 "elementType": "geometry.stroke",
                 "stylers": [{
                   "color": "#fefefe"
                 },
                             {
                               "lightness": 17
                             },
                             {
                               "weight": 1.2
                             }
                            ]
               }
              ]
    };

    // Get the HTML DOM element that will contain your map 
    // We are using a div with id="map" seen below in the <body>
    var mapElement = document.getElementById('google-map');

    // Create the Google Map using our element and options defined above
    var map = new google.maps.Map(mapElement, mapOptions);

    // Let's also add a marker while we're at it
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng({{ section.settings.latitude }}, {{ section.settings.longitude }}),
      map: map,
      title: 'Timekeeper',
      {%if section.settings.map_marker %}
       icon: "{{ section.settings.map_marker | img_url:'small' }}",
      {%else%}
      icon: "{{ 'map-marker.png' | asset_url }}",
      {%endif%}
      animation: google.maps.Animation.BOUNCE
    });
  }
</script>

<!--=====  End of JS files ======-->


{% schema %}
  {
    "name": "Contact Map",
    "settings": [

			{
				"type": "text",
				"id": "latitude",
				"label": "Latitude",
				"default": "40.740610"
			},

			{
				"type": "textarea",
				"id": "longitude",
				"label": "Longitude",
				"default": "-73.935242"
			},
			{
				"type": "text",
				"id": "map_api_key",
				"label": "Google Map API Key",
				"default": "AIzaSyChs2QWiAhnzz0a4OEhzqCXwx_qA9ST_lE"
			},
            {
              "type": "image_picker",
              "id": "map_marker",
              "label": "Map Marker",
              "info": "Recommended Size: 50x 50px"
            }
		
	],
	"blocks":[
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 70
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 15
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 35
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 15
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 30
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 10
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }


	],
	"presets": [
		{
		  "name": "Contact Map",
		  "category": "2. about",
		  "blocks":[

			]
		}
	]
  }
{% endschema %}

