<!--====================  full banner area ====================-->    
<div class="full-banner-area mb-40 mb-md-10 mb-sm-10" id="section-{{ section.id }}">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-4 col-lg-5 mb-md-30 mb-sm-30">
        <!--=======  full banner content  =======-->

        <div class="full-banner__content">
          
          {%if section.settings.slider_top_title != '' %}
          <h5>{{ section.settings.slider_top_title }}</h5>
          {%endif%}
          
          {%if section.settings.slider_sub_title != '' %}
          <h4>{{ section.settings.slider_sub_title }}</h4>
          {%endif%}
                    
          {%if section.settings.slider_title != '' %}
          <h3>{{ section.settings.slider_title }}</h3>
          {%endif%}
          
          {%if section.settings.slider_des != '' %}
          <p>{{ section.settings.slider_des }}</p>
          {%endif%}

          {% if section.settings.slider_button != '' %}
          <a class="theme-button theme-button--outline banner-button" href="{{ section.settings.slider_button_url }}">{{ section.settings.slider_button }}</a>
          {% endif %}

        </div>
        <!--=======  End of full banner content  =======-->
      </div>
      <div class="col-xl-8 col-lg-7 text-center text-lg-right mb-md-30 mb-sm-30">
        <!--=======  full banner image  =======-->
        <div class="full-banner__image">
          <a href="{{ section.settings.slider_button_url }}">
            <img src="{% if section.settings.slider_img %}{{ section.settings.slider_img | img_url: 'master' }}{% else %}https://via.placeholder.com/694x424
                      {% endif %}" class="img-fluid" alt="">
          </a>
        </div>

        <!--=======  End of full banner image  =======-->
      </div>
    </div>
  </div>
</div>

<!--====================  End of full banner area  ====================-->


{%- style -%}
  #section-{{ section.id }}{
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'section_margin' -%}
    margin-top: {{ block.settings.section_margin_top }}px;
    margin-bottom: {{ block.settings.section_margin_bottom }}px;
    {%- when 'section_padding' -%}
    padding-top: {{ block.settings.section_padding_top }}px;
    padding-bottom: {{ block.settings.section_padding_bottom }}px;
    {%- when 'section_background' -%}    
    background: {{ block.settings.section_bg_color }} 
      {%- if block.settings.section_bg_image -%}url("{{ block.settings.section_bg_image | img_url: 'master' }}"){%- endif -%} no-repeat scroll center center / cover;
    {%- endcase -%}
    {%- endfor -%}
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {% case block.type %}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_md }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_md }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_md }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_md }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
  @media (max-width: 767px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_xs }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_xs }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_xs }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_xs }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
{%- endstyle -%}



{% schema %}
  {
    "name": "Discover Banner 1",
    "settings": [


              {
                  "type": "image_picker",
                  "id": "slider_img",
                  "label": "Slide Image",
                  "info": "Recommended Size: 694 x 424px"
              },
              {
                  "type": "text",
                  "id": "slider_top_title",
                  "label": "Top Title",
                  "default": "special offer"
              },
              {
                  "type": "text",
                  "id": "slider_sub_title",
                  "label": "Sub Title",
                  "default": "SUCCULENT GARDEN"
              },
              {
                  "type": "text",
                  "id": "slider_title",
                  "label": "Title",
                  "default": "GIFT BOXES"
              },

              {
                  "type": "textarea",
                  "id": "slider_des",
                  "label": "Description",
                  "default": "From planter materials to style options, discover which planter is best for your space."
              },

              {
                  "type": "text",
                  "id": "slider_button",
                  "label": "Button Text",
                  "default": "Explore The Shop"
              },
              {
                  "type": "url",
                  "id": "slider_button_url",
                  "label": "Button URL"
              }

		
	],
	"blocks":[
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablat Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablat Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }


	],
	"presets": [
		{
		  "name": "Discover Banner 1",
		  "category": "2. about"
		}
	]
  }
{% endschema %}


