{% if section.settings.accordion_enable %}
<!--==================== page content ====================-->
<div class="page-section pb-40" id="section-{{ section.id }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="faq-wrapper">

          <div id="accordion">


            {% assign i = 1 %}
            {% for block in section.blocks %}

            {% case block.type %}
            {% when 'single_faq' %}

            <div class="card">

              <div class="card-header" id="heading{{ i }}">
                <h5 class="mb-0">
                  <button class="btn btn-link {% unless forloop.first == true %}collapsed{% endunless %}" 
                          data-toggle="collapse" data-target="#collapse{{ i }}" aria-expanded="{% if forloop.first == true %}true{% else %}false{% endif %}" aria-controls="collapse{{ i }}">
                    {{ block.settings.accordion_title }} <span> <i class="fa fa-chevron-down"></i>
                    <i class="fa fa-chevron-up"></i> </span>
                  </button>
                </h5>
              </div>

              <div id="collapse{{ i }}" class="collapse {% if forloop.first == true %}show{% endif %}" aria-labelledby="heading{{ i }}" data-parent="#accordion">
                <div class="card-body">
                  <p>{{ block.settings.accordion_content }}</p>
                </div>
              </div>

            </div>
            {% endcase %}

            {% assign i = i | plus: 1 %} 

            {% endfor %}

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!--====================  End of page content  ====================-->
{% endif %}








{%- include 'section-style' -%}


{% schema %}

{
  "name": "Faq Accordion",
  "settings": [
    {
      "type": "checkbox",
      "id": "accordion_enable",
      "label": "Show faq accordion Section",
      "default": true
    }
  ],
  "blocks": [
{
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablat Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablat Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       },
    {
      "type": "single_faq",
      "name": "Single Faq",
      "settings": [

        {
          "type": "text",
          "id": "accordion_title",
          "label": "Accordion Title",
          "default": "Accordion Title"
        },
        {
          "type": "textarea",
          "id": "accordion_content",
          "label": "Accordion Content",
          "default": "Your Accordion Content will be here"
        }
      ]
    }
  ],
  "presets":[
    {
      "name": "Faq Accordion",
      "category": "2. about",
			"blocks":[
				{
					"type": "single_faq"
				},
				{
					"type": "single_faq"
				},
				{
					"type": "single_faq"
				},
				{
					"type": "single_faq"
				},
				{
					"type": "single_faq"
				},
				{
					"type": "single_faq"
				}
			]
    }
  ]



}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}