<!--====================  category area ====================-->        
<div class="category-area mb-40" id="section-{{ section.id }}">
  <div class="container">
    <!--=======  section title  =======-->

    {%if section.settings.section_title != '' %}   
    <div class="section-title mb-20">
      <h2>{{ section.settings.section_title }}</h2>
    </div>
    {% endif %}

    <!--=======  End of section title  =======-->
    <div class="row">
      <div class="col-lg-12">
        <!--=======  category slider wrapper  =======-->
        <div class="category-slider-wrapper-two">
                                <div class="ht-slick-slider"
                                data-slick-setting='{
                                    "slidesToShow": 3,
                                    "slidesToScroll": 1,
                                    "dots": false,
                                    "autoplay": false,
                                    "autoplaySpeed": 5000,
                                    "speed": 1000
                                }'
                                data-slick-responsive='[
                                    {"breakpoint":1501, "settings": {"slidesToShow": 3} },
                                    {"breakpoint":1199, "settings": {"slidesToShow": 3} },
                                    {"breakpoint":991, "settings": {"slidesToShow": 2} },
                                    {"breakpoint":767, "settings": {"slidesToShow": 2, "arrows": false} },
                                    {"breakpoint":575, "settings": {"slidesToShow": 2, "arrows": false} },
                                    {"breakpoint":479, "settings": {"slidesToShow": 1, "arrows": false} }
                                ]'
                                >

            <!--=======  single category item  =======-->

            {% for block in section.blocks %}
            {%- case block.type -%}
            {%- when 'single_feature_ctg' -%}
            {% assign collection_receive = collections[block.settings.collection_handle] %}

            <div class="single-category-item-wrapper">
              <div class="single-category-item">
                <div class="single-category-item__image">                                          

                  <a href="{{ collection_receive.url }}">
                    <img class="img-fluid" src="{% if block.settings.coll_banner_img %} {{ block.settings.coll_banner_img | img_url: 'master' }}{% else %}https://via.placeholder.com/150x150{% endif %}" alt="">
                  </a>

                </div>

                <div class="single-category-item__content">
                  <h5 class="category-item-title"><a href="{{ collection_receive.url }}">{{ collection_receive.title | handle }}</a></h5>
                  <ul class="category-list-item">
                    {% assign product_list_limit = block.settings.product_list_limit_hanlde %}

                    {% for product in collection_receive.products limit: product_list_limit %}
                    <li><a href="{{ product.url }}">{{ product.title | truncate: 22 }} </a></li>
                    {%- endfor -%}
                  </ul>

                  <a href="{{ collection_receive.url }}" class="category-link">{{ block.settings.coll_banner_text}}</a>


                </div>
              </div>
            </div>

            {% endcase %}
            {% endfor %} 

            <!--=======  End of single category item  =======-->

          </div>

        </div>

        <!--=======  End of category slider wrapper  =======-->
      </div>
    </div>
  </div>
</div>        
<!--====================  End of category area  ====================-->



{%- style -%}
  #section-{{ section.id }}{
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'section_margin' -%}
    margin-top: {{ block.settings.section_margin_top }}px;
    margin-bottom: {{ block.settings.section_margin_bottom }}px;
    {%- when 'section_padding' -%}
    padding-top: {{ block.settings.section_padding_top }}px;
    padding-bottom: {{ block.settings.section_padding_bottom }}px;
    {%- when 'section_background' -%}    
    background: {{ block.settings.section_bg_color }} 
      {%- if block.settings.section_bg_image -%}url("{{ block.settings.section_bg_image | img_url: 'master' }}"){%- endif -%} no-repeat scroll center center / cover;
    {%- endcase -%}
    {%- endfor -%}
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {% case block.type %}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_md }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_md }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_md }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_md }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
  @media (max-width: 767px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_xs }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_xs }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_xs }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_xs }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
{%- endstyle -%}



{% schema %}
  {
    "name": "Feature Cag With List",
    "settings": [          
			{
              "type": "text",
              "id": "section_title",
              "label": "Section Title",
              "default": "<span>Feature</span> Categories"
          },

          {
            "type": "range",
            "id": "product_limit_handle",	
            "label": "Product Limit",
            "min":       2,
            "max":        50,
            "step":       1,
            "default":   12
          }

	   ],

      "blocks": [

	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 70
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 40
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 30
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       },

          {

          "type": "single_feature_ctg",
          "name": "Single Feature",
          "settings": [
                  {
                    "type": "collection",
                    "id": "collection_handle",	
                    "label": "Choose Collection"
                  },

                  {
                    "type": "image_picker",
                    "id": "coll_banner_img",
                    "label": "Collection  Banner Image",
                    "info": "Recommended Size:150px 150px"
                  },
                  {
                    "type": "text",
                    "id": "product_list_limit_hanlde",
                    "label": "Show Category Limit",
                    "default": "4"
                  },
                  {
                    "type": "text",
                    "id": "coll_banner_text",
                    "label": "Section Title",
                    "default": "Shop Now"
                  }

              ]

          }
      ],
	"presets":[
		{
			"name": "Feature Cag With List",
			"category": "3. collections",
			"blocks":[

				{
					"type": "single_feature_ctg"
				},
				{
					"type": "single_feature_ctg"
				},
				{
					"type": "single_feature_ctg"
				},
				{
					"type": "single_feature_ctg"
				},
				{
					"type": "single_feature_ctg"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
