{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
{%- assign on_sale = true -%}
{%- endif -%}

{%- assign sold_out = true -%}
{%- if product.available -%}
{%- assign sold_out = false -%}
{%- endif -%}

{%- assign current_variant = product.selected_or_first_available_variant -%}
<div class="product-details product-details-area mb-40 {% if section.settings.product_style == 'product_sticky' %} product_sticky_wraper{% endif %}" id="product-details-with-gallery">
  <div class="container">
    <div class="row {% if section.settings.content_handle == 'content_in_left' %}flex-row-reverse{% endif %}">
      {%- if section.settings.product_style == 'product_default' -%}
      <div class="col-md-12 col-lg-6 col-12">
        <div class="featured-image">      
          <div class="" id="ProductPhoto">
            {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}              
            {%- comment -%} "product_variant_image" this Class is needed for Ajax popup cart {%- endcomment -%}
            <img id="ProductPhotoImg" class="{% if section.settings.product_zoom_enable %}product-zoom{% endif %} product_variant_image" 
                 data-image-id="{{ image.id }}" alt="{{ featured_image.alt | escape }}" 
                 data-zoom-image="{{ featured_image | img_url: '700x700' }}" 
                 src="{{ featured_image | img_url: '700x700' }}">
          </div>
          {%- include 'product-badge' -%}
        </div>
        {%- if product.images.size > 1 -%}
        <div id="ProductThumbs" class="">
          <div class="single-product-active"> 
            {% for image in product.images %}
            <a class="product-single__thumbnail {% if forloop.first and section.settings.product_zoom_enable %}active{% endif %}" href="{{ image.src | img_url: '700x700' }}" 
               data-image="{{ image.src | img_url: '700x700' }}" data-zoom-image="{{ image.src | img_url: '700x700' }}" data-image-id="{{ image.id }}">
              <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
            </a>
            {% endfor %}
          </div>
          
        </div>
        {%- endif -%}  
      </div>

      {%- elsif section.settings.product_style == 'product_gallery' -%}

      <div class="col-md-12 col-lg-6 col-12 {%if section.settings.product_style == 'product_gallery'%} product_gallery_wrapper{%endif%}">
        <div class="row">
          {% for image in product.images limit: 4 %}
          {%- if product.images.size > 1 -%}
          <div class="col-md-12 col-12">
            {%- comment -%} "product_variant_image" this Class is needed for Ajax popup cart {%- endcomment -%}
            <img class="product_variant_image {% if section.settings.product_zoom_enable %}product-zoom{% endif %}" 
                 alt="{{ image.alt | escape }}"
                 data-image-id="{{ image.id }}" alt="{{ image.src.alt | escape }}" 
                 data-zoom-image="{{ image.src | img_url: '1024x1024' }}" 
                 src="{{ image.src | img_url: '1024x1024' }}">
          </div>
          {%- else -%}
          <div class="col-md-12 col-12">
            {%- comment -%} "product_variant_image" this Class is needed for Ajax popup cart {%- endcomment -%}
            <img class="product_variant_image {% if section.settings.product_zoom_enable %}product-zoom{% endif %}" 
                 alt="{{ image.alt | escape }}"
                 data-image-id="{{ image.id }}" alt="{{ image.src.alt | escape }}" 
                 data-zoom-image="{{ image.src | img_url: '1024x1024' }}" 
                 src="{{ image.src | img_url: '1024x1024' }}">
          </div>
          {%- endif -%}
          {% endfor %}
        </div>      
      </div>
      
      {%- elsif section.settings.product_style == 'product_sticky' -%}
      <div class="col-md-12 col-lg-5 col-12">
        <div class="featured-image">
          {% for image in product.images %}
          {%- comment -%} "product_variant_image" this Class is needed for Ajax popup cart {%- endcomment -%}
          <img class="product_variant_image {% if section.settings.product_zoom_enable %}product-zoom{% endif %}" 
               alt="{{ image.alt | escape }}"
               data-image-id="{{ image.id }}" alt="{{ image.src.alt | escape }}" 
               data-zoom-image="{{ image.src | img_url: '1024x1024' }}" 
               src="{{ image.src | img_url: '1024x1024' }}">
          {% endfor %}
        </div>
      </div>
      {%- endif -%}
      
      
      
      <div class="{% if section.settings.product_style == 'product_sticky' %}col-md-12 col-lg-7{% else %} col-md-12 col-lg-6{% endif %} col-12">
                
        {% form 'product', product, id: "AddToCartForm", class: "product-content-inner" %}
        <div id="product-content" class="product-detail-content">
          
          {% if section.settings.category_tag_enable and product.tags.size > 0 %}
          <div class="tags mb-5">
            {% if section.settings.tag_heding_title != '' %}
            <span class="tag-title">{{ section.settings.tag_heding_title }}</span>
            {% endif %}
            <ul class="tag-list">
              {% for tag in product.tags limit: 5 %}
              <li>
                <a href="/collections/all/{{ tag | handle }}">{{ tag }}{% unless forloop.last %},{% endunless %}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          
          
          <h3 id="popup_cart_title" class="product-details-title mb-15">{{ product.title }}</h3> 
          {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: true, product: product %}

          {%- if section.settings.product_review_enable -%}
          <div class="rating d-inline-block mr-15">
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </div>
          {%- endif -%}
                    
          
          <p class="product-price product-price--big mb-10">
            <span id="ProductPrice" class="discounted-price">{{ product.selected_or_first_available_variant.price | money }}</span>
            {%- if product.compare_at_price_max > product.price -%}
            <span id="ComparePrice" class="main-price discounted">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
            {%- endif -%}
          </p>
          
          <div class="product-info-block mb-30">
            
            {%- if section.settings.product_vendor -%}
            <div class="single-info">
              <span class="title">{{ section.settings.vendor_heding_title }}:</span>
              <span class="value">{{ product.vendor | link_to_vendor }}</span>
            </div>
            {%- endif -%}
            
            {%- if current_variant.sku.size > 0 and section.settings.product_sku_enable -%}
            <div class="single-info">
              <span class="title">{{ section.settings.product_sku_title }}</span>
              <span class="value">{{ current_variant.sku }}</span>
            </div>
            {%- endif -%}
            
            
            {%- if section.settings.product_inventory_enable -%}
            <div class="single-info">
              <span class="title">{{ section.settings.availability_title }}</span> 

              {% if product.available %}
              <span class="value stock-red">{{ section.settings.in_stock_title }}</span> 
              {% else %}
              <span class="value stock-red">{{ section.settings.out_of_stock_title }}</span> 
              {% endif %}
            </div>
            {%- endif -%}
          </div>
          
          {%- unless section.settings.product_description_handle == 'without_description' -%}
          {%- if section.settings.product_description_handle == 'full_description' -%}
          {{ product.description | split: '[short_description]' | first | split: '[product_description]' | first | split: '[new_products]' | first | split: '[product_video]' | first | split: '[affiliate_link]' | first | split: '[countdown]' | first }}
          {%- elsif section.settings.product_description_handle == 'short_description' -%}
          <div class="product-short-desc mb-25">
            {%- if product.description contains '[short_description]' -%} 
            {%- assign short_description_first = product.description | split:'[/short_description]' | first -%}
            {%- assign short_description_final = short_description_first | split:'[short_description]' | last -%}
            {{ short_description_final }}
            {%- else -%}
            {%- assign truncatewords_count = section.settings.truncatewords_count_handle -%}
            <p>{{ product.description | strip_html | truncatewords: truncatewords_count | split: '[short_description]' | first | split: '[product_description]' | first | split: '[new_products]' | first | split: '[product_video]' | first | split: '[affiliate_link]' | first | split: '[countdown]' | first }}</p>
            {%- endif -%}
          </div>
          {%- endif -%}
          {%- endunless -%}
                    
          {%- include 'product-variant' -%}

          {%- if product.description contains '[countdown]' -%}
          <div class="sp_countdown_wraper mb-20">
            {%- assign count_down_first = product.description | split:'[/countdown]' | first -%}
            {%- assign count_down_final = count_down_first | split:'[countdown]' | last -%}
            <div data-countdown="{{ count_down_final }}"></div> 
          </div>
          {%- endif -%}
          

          <div class="quantity">
            {%- if product.description contains '[affiliate_link]' -%}
            {%- include 'affiliate-product-cart-action' -%}
            {%- else -%}
            
            <span class="quantity-title mr-20 product-quantity-action quantity-selector">Qty</span> 
            
            <div class="pro-qty mr-15 mb-lg-20 mb-md-20 mb-sm-20 product-quantity-action quantity-selector">
              <input type="text" value="1" name="quantity" class="cart-plus-minus-box">
            </div>             
            {% include 'product-cart-action' %}

            {%- if product.available and section.settings.dynamic_checkout_button_enable -%}
            {{ form | payment_button }}
            {%- endif -%}
            {%- endif -%}
          </div> 
          
          {%- if settings.compare_product_enalbe -%}
          <div class="compare-button d-inline-block mr-40">
            <a href="#" class="compare" data-pid="{{ product.handle  }}" title="" data-original-title="Compare"><i class="icon-sliders"></i>Compare This Product</a>
          </div>
          {%- endif -%}
          
          {%- if settings.wishlist_enable -%}
          <div class="wishlist-button d-inline-block">
            {% include 'wishlist-button' %}
          </div>
          {%- endif -%}
                    
          {% if section.settings.about_product_feature_area %}
          
          <div class="product-details-feature-wrapper d-flex justify-content-start mt-20">            
            {% for block in section.blocks %}

            {%- case block.type -%}
            {%- when 'about_product_feature' -%}           

            <div class="single-icon-feature single-icon-feature--product-details ml-30 ml-xs-0 ml-xxs-0 ">

              {% if block.settings.service_icon %}
              <div class="single-icon-feature__icon">
                <img src="{{ block.settings.service_icon | img_url: 'small' }}" class="img-fluid" alt="{{ block.settings.service_icon.alt }}">
              </div>
              {% endif %}

              <div class="single-icon-feature__content">

                {% if block.settings.service_title != '' %}
                <p class="feature-text">{{ block.settings.service_title }}</p>
                {% endif %}
                {% if block.settings.service_description != '' %}
                <p class="feature-text">{{ block.settings.service_description }}</p>
                {%  endif %}   

              </div>
            </div>
            
            {% endcase %}

            {% endfor %}
          </div>
          {% endif %}
                    
          {%- if section.settings.social_share_enable -%}
          <div class="social-share-buttons mt-20">
            {%- include 'social-share' -%}
          </div>
          {%- endif -%}
          
          
          {%- if section.settings.payment_option_enable -%}
          <div class="custom-payment-options">
            {%- if section.settings.payment_information != '' -%}
            <div class="social-share-buttons">
              <h3> {{ section.settings.payment_information }}</h3>
            </div>
            {%- endif -%}
            {%- if section.settings.payment_image -%}
            <img src="{{ section.settings.payment_image | img_url: '1024x1024' }}" alt="{{ section.settings.payment_image.alt }}">
            {%- endif -%}

            {%- include 'payment-icon' -%}
          </div>
          {%- endif -%}
        </div>
        {% endform %}
        
      </div>
    </div>
  </div>
</div>



{% comment %}

{% assign instructions = product.metafields.meta %}
{% assign key = 'video' %}

YouTube URL: {{ instructions[key] }}

{% for field in product.metafields.instructions %}
Loop: <li>{{ field | first }}: {{ field | last }}</li>
{% endfor %}

{% endcomment %}



{% schema %}
  {
    "name": "Product",
    "settings": [
          {
            "type": "header",
            "content": "Product Style"
          },
          {
              "type": "radio",
              "id": "content_handle",
              "label": "Content Position -",
              "options": [
                  {
                      "label": "Left",
                      "value": "content_in_left"
                  },
                  {
                      "label": "Right",
                      "value": "content_in_right"
                  }
              ],
              "default": "content_in_right"
        },
		{
          "type": "select",
          "id": "product_style",
          "label": "Product Style",
		  "options":[
				{
                    "label": "Default",
                    "value": "product_default"
                },
                {
                    "label": "Gallery",
                    "value": "product_gallery"
                },
                {
                    "label": "Sticky",
                    "value": "product_sticky"
                }
			],
			"default": "product_default"
      	},
		{
          "type": "header",
          "content": "Product Zoom"
      	},
		{
          "type": "checkbox",
          "id": "product_zoom_enable",
          "label": "Product Zoom Enable",
          "default": true		
      	},
		{
          "type": "select",
          "id": "zoom_type",
          "label": "Zoom Type",
		  "options":[
				{
                    "label": "Lens",
                    "value": "lens"
                },
                {
                    "label": "Window",
                    "value": "window"
                },
                {
                    "label": "Inner",
                    "value": "inner"
                }
			],
			"default": "inner"
      	},
		{
          "type": "header",
          "content": "Image Popup"
      	},
		{
          "type": "checkbox",
          "id": "product_popup_enable",
          "label": "Product Popup Enable",
          "default": true,
		  "info": "When 'Product Zoom' enabled and product style 'Default' then it applicable"	
      	},
		{
          "type": "header",
          "content": "Product Tags"
      	},
        {
            "type": "checkbox",
            "id": "category_tag_enable",
            "label": "Show Tags",
            "default": true
        },
		{
          "type": "text",
          "id": "tag_heding_title",
          "label": "Tag heading Title",
          "default": "Tags:"	
      	},
		{
          "type": "header",
          "content": "Product SKU"
      	},
		{
          "type": "checkbox",
          "id": "product_sku_enable",
          "label": "Show Product SKU",
          "default": true		
      	},
		{
          "type": "text",
          "id": "product_sku_title",
          "label": "SKU Title",
          "default": "SKU:"		
      	},
		{
          "type": "header",
          "content": "Product Review"
      	},
		{
          "type": "checkbox",
          "id": "product_review_enable",
          "label": "Show Product Review",
          "default": true,
		  "info": "[Install App](https://apps.shopify.com/product-reviews?surface_detail=product+review&surface_inter_position=1&surface_intra_position=7&surface_type=search)"
      	},
		{
          "type": "header",
          "content": "Product Inventory"
      	},
        {
            "type": "checkbox",
            "id": "product_vendor",
            "label": "Show Vendor",
            "default": true
        },
		{
          "type": "text",
          "id": "vendor_heding_title",
          "label": "Vendor heading Title",
          "default": "Vendor"	
      	},
		{
          "type": "checkbox",
          "id": "product_inventory_enable",
          "label": "Show Product Inventory",
          "default": true		
      	},
		{
          "type": "text",
          "id": "availability_title",
          "label": "Inventory Title",
          "default": "Availability:"		
      	},
		{
          "type": "text",
          "id": "in_stock_title",
          "label": "In Stock Title",
          "default": "In Stock"		
      	},
		{
          "type": "text",
          "id": "out_of_stock_title",
          "label": "Out Of Stock Title",
          "default": "Out Of Stock"		
      	},

		{
          "type": "header",
          "content": "Stock Countdown"
      	},
		{
          "type": "paragraph",
          "content": "[Click Here](https://apps.shopify.com/countdown-cart) for Install Stock Countdown app"		
      	},
		{
          "type": "header",
          "content": "Product Description"
      	},
		{
          "type": "radio",
          "id": "product_description_handle",
          "label": "Description Handle",
		  "options":[
				{
                    "label": "Full Description",
                    "value": "full_description"
                },
                {
                    "label": "Short Description",
                    "value": "short_description"
                },
                {
                    "label": "Without Description",
                    "value": "without_description"
                }
			],
			"default": "short_description"
      	},
		{
          "type": "number",
          "id": "truncatewords_count_handle",
          "label": "Description Word Count",
          "default": 35,
		  "info": "If 'Short Description' is selected and the shortcode is not used, then it will be applicable"
      	},
		{
          "type": "header",
          "content": "Product Variant"
      	},
		{
          "type": "radio",
          "id": "product_variant_handle",
          "label": "Variant Option",
		  "options":[
				{
                    "label": "Select Option",
                    "value": "product_variant_select_option"
                },
                {
                    "label": "Swatch Option",
                    "value": "product_variant_swatch_option"
                },
                {
                    "label": "Without Variant",
                    "value": "product_variant_without_option"
                }
			],
			"default": "product_variant_swatch_option"
      	},
		{
          "type": "checkbox",
          "id": "show_variant_image",
          "label": "Variant image enable",
          "default": false,
          "info": "The variant image will replace in color field if each variant each image selected. It's applicable for 'Swatch Option'"
      	},

        {
          "type": "checkbox",
          "id": "about_product_feature_area",
          "label": "Enable About Feature Area",
          "default": true
        },

		{
          "type": "header",
          "content": "Dynamic Checkout Buttons"
      	},
		{
          "type": "checkbox",
          "id": "dynamic_checkout_button_enable",
          "label": "Enable Dynamic Checkout Buttons",
          "default": true
      	},
		{
          "type": "header",
          "content": "Social Share Option"
      	},
		{
          "type": "checkbox",
          "id": "social_share_enable",
          "label": "Show Social Share",
          "default": true
      	},
		{
          "type": "text",
          "id": "social_share_title",
          "label": "Social Share Title",
          "default": "Share:"
      	},
		{
          "type": "header",
          "content": "Payment Option"
      	},
		{
          "type": "checkbox",
          "id": "payment_option_enable",
          "label": "Show Payment Option",
          "default": true
      	},
		{
          "type": "text",
          "id": "payment_information",
		  "label": "Information",
          "default": "Guaranteed safe checkout:"
      	},
		{
          "type": "image_picker",
          "id": "payment_image",
          "label": "Payment Image"
      	},
		{
          "type": "radio",
          "id": "payment_icon",
          "label": "Payment Icon",
		  "options":[
				{
                    "label": "Automatic",
                    "value": "automatic"
                },
                {
                    "label": "Custom Icon",
                    "value": "custom_icon"
                }
			],
			"default": "custom_icon"
      	}
	],
	"blocks":[
		{
          "type": "amazon_payments",
          "name": "Amazon Payments",
		  "limit": 1
        },
		{
          "type": "american_express",
          "name": "American Express",
		  "limit": 1
        },
		{
          "type": "apple_pay",
          "name": "Apple Pay",
		  "limit": 1
        },
		{
          "type": "bitcoin",
          "name": "Bitcoin",
		  "limit": 1
        },
		{
          "type": "dankort",
          "name": "Dankort",
		  "limit": 1
        },
		{
          "type": "diners_club",
          "name": "Diners Club",
		  "limit": 1
        },
		{
          "type": "discover",
          "name": "Discover",
		  "limit": 1
        },
		{
          "type": "dogecoin",
          "name": "Dogecoin",
		  "limit": 1
        },
		{
          "type": "dwolla",
          "name": "Dwolla",
		  "limit": 1
        },
		{
          "type": "forbrugsforeningen",
          "name": "Forbrugsforeningen",
		  "limit": 1
        },
		{
          "type": "google_pay",
          "name": "Google Pay",
		  "limit": 1
        },
		{
          "type": "jcb",
          "name": "Jcb",
		  "limit": 1
        },
		{
          "type": "klarna",
          "name": "Klarna",
		  "limit": 1
        },
		{
          "type": "litecoin",
          "name": "Litecoin",
		  "limit": 1
        },
		{
          "type": "maestro",
          "name": "Maestro",
		  "limit": 1
        },
		{
          "type": "master",
          "name": "Master",
		  "limit": 1
        },
		{
          "type": "paypal",
          "name": "Paypal",
		  "limit": 1
        },
		{
          "type": "shopify_pay",
          "name": "Shopify Pay",
		  "limit": 1
        },
		{
          "type": "sofort",
          "name": "Sofort",
		  "limit": 1
        },
		{
          "type": "visa",
          "name": "Visa",
		  "limit": 1
        },
            {
               "type": "about_product_feature",
               "name": "Single Product Service",
               "settings": [
            {
                "type": "image_picker",
                "id": "service_icon",
                "label": "Image",
                "info": "Recommended Size: 38 x 32px"
            },
            {
              "type": "text",
              "id": "service_title",
              "label": "Service Title",
              "default": "Free Shipping"
            },
            {
              "type": "textarea",
              "id": "service_description",
              "label": "Service Description",
              "default": "Ships Today"
            }
          ]
         }




	 ]
  }
{% endschema %}


{%- if section.settings.product_zoom_enable -%}
<script src="{{ 'jquery.elevateZoom-3.0.8.min.js' | asset_url }}"></script>
{%- endif -%}

{%- if section.settings.product_popup_enable -%}
{{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
<script src="{{ 'jquery.fancybox.min.js' | asset_url }}"></script>

<script>
  $(document).ready(function() {
    $('.fancybox').fancybox();
  });
</script>
{%- endif -%}

{%- if section.settings.product_style == 'product_sticky' -%}
<script src="{{ 'ResizeSensor-StickySidebar.js' | asset_url }}"></script>
<script>
  var sidebar = new StickySidebar('#product-content', {
    containerSelector: '#product-details-with-gallery',
    innerWrapperSelector: '.product-content-inner',
    topSpacing: 20,
    bottomSpacing: 20,
    minWidth: 992,
  });
</script>
{% endif %}




<script>

  
  
  $('.single-product-active').slick({
    centerMode: true,
    centerPadding: '0',
    slidesToShow: 4,
    arrows:true,
    prevArrow:'<button class="prev_arrow"><i class="fa fa-angle-left"></i></button>',
    nextArrow:'<button class="next_arrow"><i class="fa fa-angle-right"></i></button>',

  });
  
  
  
</script>



<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
    
    if (variant) {
      
      // Current variant select+
      var form = jQuery('#' + selector.domIdPrefix).closest('form');
      for (var i=0,length=variant.options.length; i<length; i++) {
        var val = variant.options[i].replace(/'/g,"&#039;");
        var radioButton = form.find(".swatch[data-option-index='" + i + "'] :radio[value='" + val +"']");
        if (radioButton.size()) {
          radioButton.get(0).checked = true;
        }
      }

      // Current sku pass
      $('.variant-sku').text(variant.sku);
    }else {
      $('.variant-sku').empty();
    } 
    
    
    {%- comment -%}
    // in stock / out stock product start
    if (variant) {
      if (variant.inventory_management == "shopify" && variant.inventory_policy != "continue") {
        if (variant.inventory_quantity > 0) {
          jQuery('#variant-inventory').text(variant.inventory_quantity + ' in stock');
        } else {
          jQuery('#variant-inventory').text("Out of stock");
        }
      } else {
        jQuery('#variant-inventory').text("In stock");
      }
    } else {
      jQuery('#variant-inventory').text("");
    }
    {%- endcomment -%}  
    
    
    {%- if section.settings.product_zoom_enable -%}
    // product image zoom with variant
    if (variant && variant.featured_image) { 
      jQuery('#ProductThumbs a[data-image-id="' + variant.featured_image.id + '"]').trigger('click'); 
    }
    {%- endif -%}

  };
  
  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
  
  {%- if section.settings.product_zoom_enable -%}
  function productZoom(){
    $(".product-zoom").elevateZoom({
      gallery: 'ProductThumbs',
      galleryActiveClass: "active",
      zoomType: "{{ section.settings.zoom_type }}",
      cursor: "crosshair"
    });
    {%- if section.settings.product_popup_enable -%}
    $(".product-zoom").on("click", function(e) {
      var ez = $('.product-zoom').data('elevateZoom');
      $.fancybox(ez.getGalleryList());
      return false;
    });
    {% endif %}
  };
  function productZoomDisable(){
    if( $(window).width() < 767 ) {
      $('.zoomContainer').remove();
      $(".product-zoom").removeData('elevateZoom');
      $(".product-zoom").removeData('zoomImage');
    } else {
      productZoom();
    }
  };

  productZoomDisable();

  $(window).resize(function() {
    productZoomDisable();
  });
  {%- endif -%}
</script>
