<!--====================  icon feature area ====================-->
<div class="icon-feature-area mb-40" id="section-{{ section.id }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!--=======  icon feature wrapper  =======-->

        <div class="icon-feature-wrapper">
          <div class="row row-5">
            
            {% for block in section.blocks %}
            {%- case block.type -%}
            {%- when 'single_feature' -%}
            <div class="col-6 col-lg-{{block.settings.service_des_column}} col-sm-6 col-md-4">
              <!--=======  single icon feature  =======-->
              <div class="single-icon-feature">

                {% if block.settings.icon_img_enable %}
                <div class="single-icon-feature__icon">
                  <img src="{% if block.settings.icon_img %}{{ block.settings.icon_img | img_url: 'small' }}
                            {% else %}https://via.placeholder.com/60x40 
                            {% endif %}" alt="">
                </div>
                {% endif %}

                <div class="single-icon-feature__content">

                  {%if block.settings.service_des != '' %}
                  <p class="feature-title">{{ block.settings.service_des }}</p>
                  {% endif %}

                  {%if block.settings.service_sub_des != '' %}
                  <p class="feature-text">{{ block.settings.service_sub_des }}</p>
                  {% endif %}

                </div>
              </div>

              <!--=======  End of single icon feature  =======-->
            </div>
            {%- endcase -%}
            {% endfor %}
            
          </div>
        </div>

        <!--=======  End of icon feature wrapper  =======-->
      </div>
    </div>
  </div>
</div>
<!--====================  End of icon feature area  ====================-->



{%- style -%}
  #section-{{ section.id }}{
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'section_margin' -%}
    margin-top: {{ block.settings.section_margin_top }}px;
    margin-bottom: {{ block.settings.section_margin_bottom }}px;
    {%- when 'section_padding' -%}
    padding-top: {{ block.settings.section_padding_top }}px;
    padding-bottom: {{ block.settings.section_padding_bottom }}px;
    {%- when 'section_background' -%}    
    background: {{ block.settings.section_bg_color }} 
      {%- if block.settings.section_bg_image -%}url("{{ block.settings.section_bg_image | img_url: 'master' }}"){%- endif -%} no-repeat scroll center center / cover;
    {%- endcase -%}
    {%- endfor -%}
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {% case block.type %}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_md }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_md }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_md }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_md }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
  @media (max-width: 767px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_xs }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_xs }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_xs }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_xs }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
{%- endstyle -%}



{% schema %}
  {
    "name": "Service Feature",
    "settings": [
		
	],
	"blocks":[
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 70
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 15
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 35
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 15
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 30
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 10
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       },

      {
          "type": "single_feature",
          "name": "Single Feature",
          "settings": [
			  {
                "type": "text",
                "id": "service_des_column",
                "label": "Feature Column",
                "default": "3"
              },

              {
                "type": "checkbox",
                "id": "icon_img_enable",
                "label": "Icon Enable",
                "default": true		
              },
              {
                  "type": "image_picker",
                  "id": "icon_img",
                  "label": "Image",
                  "info": "Recommended Size: 60 x 40"
              },
			  {
                "type": "text",
                "id": "service_des",
                "label": "Service Description",
                "default": "Free Shipping"
              },
			  {
                "type": "text",
                "id": "service_sub_des",
                "label": "Service Sub Description",
                "default": "Free shipping on order"
              }


          ]
      }


	],
	"presets": [
		{
		  "name": "Service Feature",
		  "category": "2. about",
		  "blocks":[
				{
					"type": "single_feature"
				},
				{
					"type": "single_feature"
				},
				{
					"type": "single_feature"
				},
				{
					"type": "single_feature"
				}
			]
		}
	]
  }
{% endschema %}
